<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        {% comment %}<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">{% endcomment %}
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Vinh's' blog</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-page">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">VINH's Blog</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li {% block addnew %}{% endblock %}>
                        <a href="{% url 'blogs:post_new' %}">Add New</a>
                    </li>
                    <li {% block draft %}{% endblock %}>
                        <a href="{% url 'blogs:post_draft_list' %}">Draft List</a>
                    </li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                </ul>
                <p class="navbar-text navbar-right"> Wellcome {{ user.username }} </p>
                
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li {% block login %}{% endblock %}><a href="{% url 'login' %}"><span class="glyphicon glyphicon-lock"></span> Login</a></li>
                </ul>
                {% endif %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>About</h3>
                        This blog is dedicated to provide quality tutorials on various programming language. If you want to cooperate, write articles...
                        <br>Plz contact us: nguyendangvinh_92dn@yahoo.com <br>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <div class="container">
                © 2017 vinhnguyen.com
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</html>