{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}       
        <div class="list_post media">
            <div class="media-left">
                <a href="{% url 'blogs:post_detail' pk=post.pk %}">
                {% for file in post.files.all %}
                    <img class="media-object" src="{{ file.link }}" alt="blog">
                {% endfor %}
                </a>
            </div>
            <div class="media-body">
                <div class="post">                  
                    <h4 class="media-heading"><a href="{% url 'blogs:post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                    <div class="date">
                        <p>
                            <span>published: {{ post.published_date }}</span>
                            <span><a href="{% url 'blogs:post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a></span>
                        </p>                        
                    </div>
                    <p>{{ post.text|truncatechars:250 }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if posts.has_other_pages %}
    <div class="pagination_page">
        <ul class="pagination">
            {% if posts.has_previous %}
                <li>
                    <a href="?page={{ posts.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a>
                </li>
                {% else %}
                <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            {% endif %}
            
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="active"><a>{{ i }}</a></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if posts.has_next %}
                <li>
                    <a href="?page={{ posts.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a>
                </li>
                {% else %}
                <li class="disabled"><a aria-label="Next"><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>       
    </div>
    {% endif %}
{% endblock %}